/* General styles */
body {
  font-family: var(--font-family-sans), sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  background-color: var(--container-bg-color);
  padding: var(--padding-container);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-light);
  max-width: 500px;
  margin: var(--spacing-xl) auto;
  flex-grow: 1;
}

h1 {
  text-align: center;
  color: var(--text-color-dark);
  margin-bottom: var(--spacing-xl);
}

label {
  min-width: 80px;
  color: var(--text-color-dark);
  font-weight: 700;
}
