/* Input section */
.input-section,
.list-name-section {
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
}

.input-section input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  padding: 8px;
}

.input-section button {
  color: #fff;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
}

.input-section button:hover {
  background-color: #0056b3;
}

.edit-input {
  padding: var(--spacing-sm);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-lg);
  margin-right: var(--spacing-md);
  flex-grow: 1;
}
