/* Task Actions */
#new-task-input,
#todo-list-name-input {
  background-color: var(--container-bg-color);
  color: var(--text-color-dark);
  padding: var(--padding-input);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-base);
  flex-grow: 1;
}

#new-task-input:focus,
#todo-list-name-input:focus {
  border-color: var(--primary-color);
  box-shadow: var(--focus-shadow);
  outline: none;
}

#add-task-btn {
  padding: var(--padding-input) 20px;
  background-color: var(--primary-color);
  color: var(--btn-text-color);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  font-size: var(--font-size-base);
  border: none;
  transition: background-color .2s;
}

#add-task-btn:hover {
  background-color: var(--primary-hover-color);
}

#task-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#task-list li {
  background-color: var(--task-item-bg-color);
  border: 1px solid var(--light-border-color);
  padding: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
  border-radius: var(--border-radius-md);
  word-wrap: break-word;
  word-break: break-all;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#task-list li:last-child {
  margin-bottom: 0;
}

.task-text {
  font-size: var(--font-size-lg);
  color: var(--text-color-medium);
  margin-right: var(--spacing-md);
  flex-grow: 1;
}

.task-actions {
  gap: var(--spacing-sm);
  display: flex;
}
